pydantic
requests
Pillow
pdf2image
python-pptx==1.0.2
pptx2txt2==1.1.0
python-pptx
python-dateutil
google-generativeai
google-genai
httpx
numpy
faiss-cpu
sentence-transformers
rank-bm25
fastapi
python-dotenv
torch
PyMuPDF
uvicorn
PyPDF2
python-docx
pytesseract
opencv-python
beautifulsoup4
pandas
xlrd
nltk
python-multipart
rapidfuzz