pydantic
requests
Pillow
python-pptx==1.0.2
google-genai
httpx
numpy
faiss-cpu
sentence-transformers
rank-bm25
fastapi
python-dotenv
torch
PyMuPDF
uvicorn
PyPDF2
python-docx
pytesseract
opencv-python
beautifulsoup4
pandas
xlrd
python-multipart
